/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@font-face {
    font-family: Logobloqo;
    src: url('fonts/Logobloqo2.ttf');
}

body {
    font-family: Logobloqo;
    background: url('./background2.jpg') no-repeat;
    background-size: cover ;
    -moz-background-size: cover ;
    -o-background-size: cover ;
    -webkit-background-size: cover ;
    opacity: 1;
}
#basket {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: -10;
}

#content {
    background-color: #FFF;
    opacity: 0.8;
    margin: 50px 200px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    z-index: 10;

}

li {
    list-style-type: none;
    position: relative;
}
li div {
    display: table-cell;
    vertical-align: middle;
}

.pom {
}

.time_to_end {
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    width: 65px;
}